<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd
                        http://code.alibabatech.com/schema/dubbo
                        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<context:property-placeholder
		location="classpath:config/application.properties" />
	<context:component-scan
		base-package="cn.minture.manager.controller"></context:component-scan>

	<!-- <mvc:resources mapping="/easyui/**"
		location="/statics/easyui/" /> -->
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/admin/**" location="/admin/" />
	<mvc:resources mapping="/plugins/**" location="/plugins/" />
    <mvc:resources mapping="/**/*.html" location="/" />
	<mvc:annotation-driven>
		<mvc:message-converters
			register-defaults="true">
			<bean
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes"
					value="application/json" />
				<property name="features">
					<array>
						<value>WriteMapNullValue</value>
						<value>WriteDateUseDateFormat</value>
					</array>
				</property>
				</bean>
	</mvc:message-converters>
	</mvc:annotation-driven>
	<dubbo:application name="manager-web" />
	<dubbo:registry address="zookeeper://10.10.35.192:2181" />
	<dubbo:annotation package="cn.minture.manager.controller" />
</beans>